- block:
  - name: Create VPC and networks
    include: vpc.yml
    tags:
      - network

  - name: Create security groups for jumphost
    include: security_groups.yml
    tags:
      - security

  - name: Create our jumphost
    include: jump_host.yml
    tags:
      - instances
      - jumphost
  when: "{{ vpc.state | default('present') == 'present' }}"

- name: Wait for provisioning of hosts to finish
  pause: minutes=2

#cleanup/delete vpc
- block:
  - name: Delete VPC
    include: destroy_vpc.yml
  when: "{{ vpc.state | default('present') == 'absent' }}"
  tags:
    - destroy