- name: Install nginx from apt
  apt:
    name: nginx
    state: latest
  become: true

- name: Start nginx
  service:
    name: nginx
    state: started
  become: true

- block:
  - name: create healthcheck default site
    copy:
      src: "./files/nginx.default.cfg"
      dest: "/etc/nginx/sites-available/default"
      owner: root
      group: root
      mode: 644
      backup: yes
    become: true

  - name: create healtcheck dir if it doesn't exist
    file:
      path: /srv/healthcheck
      state: directory
      owner: app
      group: www-data
    become: true

  - name: Copy the healthcheck file into the directory
    copy:
      src: "./files/index.html"
      dest: "/srv/healthcheck/index.html"
      owner: app
      group: www-data
      mode: 644
    become: true

  - name: Reload nginx
    service:
      name: nginx
      state: reloaded
    become: true