server {
    server_name  {{ global_data.domain }};
    rewrite ^(.*) http://{{ global_data.domain }}$1 permanent;
}

server {
    listen 80;
    server_name {{ global_data.domain }};
    root   {{ domain_data.document_root }};
    index index.php;
    include /etc/nginx/security;

     # Logging --
    access_log  /var/log/nginx/{{ domain_data.site_name }}.access.log;
    error_log  /var/log/nginx/{{ domain_data.site_name }}.error.log notice;

    # serve static files directly
    location ~* ^.+.(jpg|jpeg|gif|css|png|js|ico|html|xml|txt)$ {
        access_log        off;
        expires           max;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;

        # With php7.0-cgi alone:
        # fastcgi_pass 127.0.0.1:9000;
        # With php7.0-fpm:
        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    }
}
